* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.add-page {
  text-align: center;
  width: 100%;
  height: 590px; 
  background-image: url('https://rukminim2.flixcart.com/image/612/612/xif0q/frame/x/3/i/50-na-ag2811gt-peter-jones-original-imagu5vdrgugwfwt.jpeg?q=70');
  background-size: cover;
  background-position: center; 
  padding: 25px 0;
  margin-top: 5px;
}

.ad-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 30px;
}

.ad-image {
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  object-fit: cover; 
  margin-bottom: 70px;
}


.ad-details {
  text-align: center; 
}

.ad-details h2 {
  font-size: 48px; 
  margin-top: 30px;
  margin-bottom: 20px; 
  color:#05013f; 
}

.ad-details p {
  font-size: 20px; 
  margin-bottom: 30px; 
  color:#05013f; 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 30px; 
  font-size: 18px; 
  cursor:none;
  border-radius: 8px; 
  transition: back
}
#shop-btn{
  text-decoration: none;
  color: #fff;
  
  
}
.btn-link{
  text-decoration: none;
  color: #F1F1F2;
}