.welcome {
  background-color: #f8f9fa;
  padding: 20px;
}

.welcome-head {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.login-sign .btn {
  min-width: 100px;
}

@media (max-width: 768px) {
  .welcome-head {
    font-size: 2rem;
  }

  .login-sign .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
