.adminHome {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.userListTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.userListTable th,
.userListTable td {
  padding: 10px;
  border: 1px solid #ccc;
}

.userListTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}


.remove-btn {
  padding: 8px 12px;
  cursor: pointer;
}

.remove-btn {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.remove-btn:hover {
  background-color: #ff6347;
}

.remove-btn:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .userListTable th,
  .userListTable td {
    padding: 8px;
  }
  
  .block-btn,
  .remove-btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .userListTable th,
  .userListTable td {
    padding: 6px;
  }
  
  .block-btn,
  .remove-btn {
    font-size: 12px;
  }
}
