.mainHead {
  background-color: #f8f9fa;
  padding: 20px;
  position: relative; 
  margin-bottom: .3rem;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}

.btn {
  margin-right: 10px;
}
.logoImage {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.logoName {
  margin: 0;
  font-size: 24px;
}

.navLinks {
  text-align: right;
}

.searchBar {
  margin-top: 20px;
  text-align: center;
}

#usr-logout {
  position: absolute;
  top: 20px; 
  right: 20px; 
}


@media (max-width: 768px) {
  .navLinks {
    text-align: center;
  }
}
