.mainHead {
  background-color: #f8f9fa;
  padding: 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.logoName {
  margin: 0;
  font-size: 24px;
}

.navLinks {
  text-align: right;
}

.searchBar {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .navLinks {
    text-align: center;
  }
}
